# Python Virtual Environments
.venv/
venv/
env/
testenv/
test_release/
test_venv/

# Python Build
build/
dist/
*.egg-info/

# Python cache
__pycache__/
*.py[cod]

# Frontend build cache
frontend/tsconfig.tsbuildinfo

#Root node_modules
node_modules/
